body {
	background-image: url("../Images/image5.jpg");
	background-repeat: no-repeat;
	background-size: 500px 1000px;
	overflow-y: scroll;
}

#h2 {
	position: absolute;
	top: 50px;
	text-align: center;
}

#data {
	position: absolute;
	top: 200px;
	color: black;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 100px;
}

h5 {
	position: absolute;
	top: 120px;
	left: 70px;
	text-align: center;
}

h2 {
	position: absolute;
	top: 150px;
}
